body {
  background-color:#fafafa;
}
.fixedHead{
  font-family: 'Noto Serif JP', sans-serif;
  text-align: center;
  background-color: maroon;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px gray;
  color:white;
  width: 100%;
  position:fixed;
  margin: -20px;
}
.first {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 20%;
    padding: 12px;
}

#titlePhote{
  background-color: maroon;
}
h1{

}
h2{
  padding-top:60px
  text-transform: uppercase;
  color: maroon;
}

a {
    color: green;
}
a:hover {
    color: red;
    font-weight: bold;
}
label{
  font-weight: bold;
  font-size: large;
}
input[type=text]{
    color: white;
    border-radius: 25px;
    width: 100%;
}
input[type=text]:focus {
    background-color: #aaa;
    color: white;
    border-radius: 20px;
}

.flexContainer{
  display: flex;
  justify-content: space-between;
}
input[type=date] {
    color: black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
img{
  padding: 24px;
}
img.loop{
  width:85%;
  height:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.flags{
  width:85%;
  height:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#titlePhoto{
  /*top:180px;*/
}
div#page1 p {
  top:260px;
    line-height: 200%;

}
div#middle {
    border-style: inset;
    /*border-color: hsl(89, 43%, 51%);*/
    padding: 12px;
}
div#page1 p span#sp{
  color: rgb(0,0,255);
}
form#inp{
  background-color: maroon;
  padding: 8px;
  padding-top: 8px
  height: 50%;
  width: 50%;
  float: right;

}
div#inFormDiv{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  padding: 12px;
  border-radius: 20px;


}
p#sp{
  font-size: large;
  font-style: italic;
  text-align: left;
  color: white;
}
.sp1{
  font-size: large;
  font-style: italic;
  text-align: left;
  color: maroon;
  font-weight: bold;
}
ol {
    background: #333;
    padding: 20px;
    text-align: center;
    list-style-type: none;
}
ol li {
    background: #cce5ff;
    margin: 5px;
    border-radius: 25px;
}

/* most of the feature for this unorder list is copied and past from w3school*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover:not(.active) {
    background-color: #111;
}

.actives {
    background-color: ##aaa;
}
/*I copied past most of the css for the table bellow from w3school */
#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #dddc;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.space{
  padding:12px;
  margin:12px;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color:#333;
    border-radius: 12px;
    color: white;
    padding: 5px;
    width: 100%;
    text-decoration: none;
    margin: 1px;
    cursor: pointer;
    margin-top: 12px;

}

/*I got this column code from w3school*/
* {
    box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;

}

/* Clear floats after the columns */
.row:after {

    display: table;
    clear: both;
}
#map{
  width:40%;
  length: 40%;
  margin-left: auto;
  margin-right: auto;
}
.photoDown {
  display: flex;
  length: 400px;
  background-color: lightgray;
}
.photoDowns {
  background-color: lightgray;
}
img.photoD{
  width:335px; /* you can use % */
  height: 330px;
}
.text{
  font-family: 'Noto Serif JP', sans-serif;
  text-align: center;
  padding-top:60px
  text-transform: uppercase;
  color: white;
  text-align: center;

}
.titleB{
  background-color: #333;
  border-radius: 12px;
  width: 98%;
  text-align: center;
  margin-bottom: 12px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
.last{
  display: flex;
  justify-content: center;
  length: 400px;
  background-color: #333;

}
.last1{
  display: flex;
  justify-content: space-around;
}
.last1 p: hover{
  color: maroon;
}
